crud1/crud1/Service References/ServiceReference1/fuunciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="fuunciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50208/fuunciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50208/fuunciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50208/fuunciones.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ifuunciones_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="Ifuunciones_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="Ifuunciones_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="Ifuunciones_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="Ifuunciones_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="Ifuunciones_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="Ifuunciones_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="Ifuunciones_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:portType name="Ifuunciones">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/Ifuunciones/Create" message="tns:Ifuunciones_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ifuunciones/CreateResponse" message="tns:Ifuunciones_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/Ifuunciones/Read" message="tns:Ifuunciones_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ifuunciones/ReadResponse" message="tns:Ifuunciones_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/Ifuunciones/delete" message="tns:Ifuunciones_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ifuunciones/deleteResponse" message="tns:Ifuunciones_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/Ifuunciones/update" message="tns:Ifuunciones_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ifuunciones/updateResponse" message="tns:Ifuunciones_update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Ifuunciones" type="tns:Ifuunciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Ifuunciones/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Ifuunciones/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/Ifuunciones/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/Ifuunciones/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fuunciones">
    <wsdl:port name="BasicHttpBinding_Ifuunciones" binding="tns:BasicHttpBinding_Ifuunciones">
      <soap:address location="http://localhost:50208/fuunciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>